* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: 'Helvetica Neue', sans-serif;
     font-weight: 700;
     letter-spacing:0pt;
   }
   
   .home,
   .services,
   .projekt,
   .sign-up {
     display: flex;
     height: 90vh;
     align-items: center;
     justify-content: center;
     font-size: 3rem;
   }
   body{
     overflow: hidden;
     height: 100vh;
   }

   .n {
     position: absolute;
     top: 170px;
     width: 200px;
     height: 10px;
     background-color: black;
   }
   .n1{top: 270px;}
   .n2{top: 370px;}
   .n3{top: 470px;}
   .n4{top: 570px;}